// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_tour_link { border: 2px solid #aaa8a8; padding: 8px; text-align: center; width: 200px; display: block; border-radius: 5px; margin: 100px auto}
  a.new_tour_link { text-decoration: none; font-size: 15pt }
